body,
html {
  font-family: $default-font-family;
  height: 100%;
  font-size: $default-font-size;
  box-sizing: border-box !important;

  p {
    font-size: $default-font-size !important;
    margin-bottom: 15px;
  }

  a {
    font-size: $default-font-size !important;
  }

  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 {
  font-size: 130%;
  margin-bottom: 18px;
}

h2 {
  font-size: 110%;
  margin-bottom: 15px;
}

h3,
.h3,
h4,
.h4 {
  font-size: 90%;
}

h5,
.h5,
h6,
.h6 {
  font-size: 80%;
}

.banner-text {
  font-size: 3em;
  font-weight: 400;
  line-height: normal;
}

.merchandise-text {
  font-size: 2.0em;
  font-weight: 400;
  line-height: normal;
}

.merchandise-card {
  background-color: $bg-light-grey;
  flex-direction: column;
  border: 1px solid $bg-light-grey;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 1em;

  .info {
    font-size: 1.5em;
  }
}


.site-section-title {
  background-color: $bg-light-yellow;
  padding: 1rem 0;

  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0;
  }

}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: $bg-green;
}

.nav-pills>li>a {
  color: $bg-green;
}

.hero-image {
  height: 250px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/4N3A9482.png");
  background-size: cover;
  background-position: 50% 21%;
}

.bookstore-hours {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  background: #333;

  h2 {
    margin: 10px auto 10px;
    color: white;
  }
}

body>header {
  padding: 1em 1em;
  background: $bg-green;

  .flex-header {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
  }

  .bookstore {
    padding-bottom: 0.1em;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 10px;
  }

  .csm-logo {
    border-radius: 0;
  }

  header .form-group {
    margin-bottom: 0;
  }

  @media screen and (max-width: 992px) {
    .bookstore {
      display: none;
    }
  }
}

#page_wrapper {

  // min-height: calc(100% - 200px);
  #contentSection {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  #ContainDiv {
    padding: 0;
  }
}

.btn-primary {
  background: $primary;
  transition: all 0.5s ease-in;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  border-color: $primary;
}

.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:active {
  background: $secondary;
  border-color: $primary;
}

.btn-primary:focus {
  background: $secondary;
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
}

.btn-outline-primary:hover {
  background-color: $secondary;
  color: $font-white;
}

.hours--dates {
  font-weight: bold;
  color: $bg-green;
}

.frontpage--title {
  font-size: 1.5em;
  font-weight: bold;
  color: $bg-green;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homepage-intro-text {
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 2000px;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.homepage-feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 150px;
  background-size: cover;

  h2 {
    font-weight: normal;
    font-size: 1.3em;
    margin-left: 15px;
    margin-bottom: -25px;
    width: 50%;
    position: relative;
    bottom: 65px;
    margin-top: 0px;
  }

  .feature-image {
    border: 1px solid #bfbfbf;
  }
}

.content-region {
  padding: 18px;
  background: white;
  min-height: 437px;
}

.feature-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
}

@media screen and (min-width: 200px) {
  .homepage-feature {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .subdiv h2 {
    width: 50%;
  }
}

.subdiv>h2 {
  width: 82%;
  padding: 0.7em;
  color: white;
  background: $bg-green;
  border: 2px solid transparent;

  &:hover {
    transition: ease 0.3s;
    color: $bg-gray;
    background: $bg-black;
  }

  &:focus {
    transition: ease 0.3s;
    color: $bg-green;
    background: $bg-black;
  }
}

.title-bar {
  background-color: #3a74ba;
  color: #ffffff;
  padding: 7px;
  padding-left: 18px;
  display: flex;
  align-items: center;
}

.page-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.home-card__text,
.home-card__photo {
  margin: 0 auto;
}

.home-card__photo {
  border-top: 1px solid $font-gray;
  border-left: 1px solid $font-gray;
  border-right: 1px solid $font-gray;
}

.home-card__text {
  display: block;
  color: white;
  padding: 0.33em 0.66em;
  font-size: 1.2em;
  max-width: 500px;
  background-color: #2b438c;
  margin-bottom: 18px;
  border-right: 1px solid $font-gray;
  border-bottom: 1px solid $font-gray;
  border-left: 1px solid $font-gray;
}

.feature-c {
  display: flex;
  flex-direction: column;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

@media screen and (min-width: 760px) {
  .homepage-feature {
    text-align: left;
    width: auto;
  }

  .subdiv h2 {
    width: 63%;
    bottom: 75px;
  }
}

@media screen and (min-width: 992px) {
  .feature-c {
    flex-direction: row;
  }

  .bookstore-hours {
    height: $hero-container-height;
  }

  .hero-image {
    height: $hero-container-height;
  }

  .homepage-intro-text {
    text-align: center;
  }
}