/* footer address */

.can-footer {
  background-color: #2b2b2b;
  background-image: url('https://canadacollege.edu/images/canadaLogo_light_trans_crop.png');
  background-position: 100% 100%;
  background-size: auto 90%;
  background-repeat: no-repeat;

  a {
    color: $bg-light-grey;
    text-decoration: none;
    font-size: 0.85em !important;
  }

  a:hover {
    color: $font-white;
  }

  .footer-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 3px;
    color: #fff;
  }

  .footer-list li:after {
    color: #ddd;
    display: inline;
    margin: 0 3px;
  }

  .footer-interior-list li:last-child:after {
    content: "";
  }

  .toplink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    a {
      font-weight: normal;
      font-size: 11px;
      color: #dadada;
    }
  }

  .toplink:after,
  .toplink:before {
    content: "";
    width: 100px;
    height: 1px;
    background: #fff;
    margin: 0 10px;
  }

  .sub-footer {
    background-color: $primary;
    border-top: 2px solid #ffdd00;
  }
}

.footer-address {
  display: inline;
  font-size: 16px;
}


.footer-interior-list {
  margin-top: 21px;
  margin-bottom: 15px;

  li>a {
    font-size: 11px !important;
    color: #f5f5f5;
  }

  .container {
    padding: 30px 0;
  }
}

.footer-block a {
  font-size: 11px !important;
}

.footer-svg-monogram {
  width: 40px;
  height: 40px;
}

.footer-svg-link {
  display: block;
}

.footer-interior li {
  margin-bottom: 5px;
}

.city-zip {
  display: block;
}

ul.socialnetworking {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  li {
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }

    img {
      opacity: 0.8;
      filter: alpha(opacity=80);
      width: 25px;
      height: 25px;
    }
  }
}

.justify-content-center {
  justify-content: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
}

/* Bump up size of carousel content */

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .footer-interior-list {
    column-count: 2;
  }
}

@media screen and (min-width: 767px) {
  .footer-interior {
    font-size: 11px;

    a {
      font-size: 11px;
    }
  }

  .footer-address {
    font-size: 11px;
  }

  .footer-interior-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-interior .container {
    padding: 15px;
  }

  .footer-interior {
    font-size: 11px;
  }

  .footer-interior-list li:after {
    content: "|";
    margin-left: 2px;
    margin-right: 2px;
    color: #ddd;
  }

  .city-zip {
    display: inline;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-block {
    display: block;
  }
}