header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    width: 175px;
  }

  div>input.form-control {
    min-width: 200px;
  }
}

#myNavbar>ul {
  width: 100% !important;
}

.navbar-icon {
  height: 18px;
  fill: white;
}

.search-group-icon {
  height: 15px;
  fill: $bg-green;
}

#myNavbar {
  height: 40px;
}

.navbar-nav>#login,
.navbar-nav>#shopping-cart {
  float: right !important;
}

#h_nav {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 6px 2px #3a3a3aa6;
  z-index: 999;
}