.full-width {
	width: 100vw;
	position: relative;
	left: calc(-1 * (100vw - 100%) / 2);
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.d-flex>[class*='col-'] {
	display: flex;
	flex-direction: column;
}

.d-flex.flex-row {
	flex-direction: row;
}

.d-flex.flex-column {
	flex-direction: column;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-center {
	justify-content: center !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.justify-content-around {
	justify-content: space-around !important;
}

.justify-content-evenly {
	justify-content: space-evenly !important;
}

.align-items-start {
	align-items: flex-start !important;
}

.align-items-end {
	align-items: flex-end !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-baseline {
	align-items: baseline !important;
}

.align-items-stretch {
	align-items: stretch !important;
}

.align-self-start {
	align-self: flex-start !important;
}

.align-self-end {
	align-self: flex-end !important;
}

.align-self-center {
	align-self: center !important;
}

.align-self-baseline {
	align-self: baseline !important;
}

.align-self-stretch {
	align-self: stretch !important;
}

.ms-auto {
	margin-left: auto !important;
}

.me-auto {
	margin-right: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.h-100 {
	height: 100%;
}

.subwrapper {
	box-shadow: 12px 0 15px -4px rgba(93, 93, 93, 0.1), -12px 0 8px -4px rgba(93, 93, 93, 0.1);
}