#h_nav {
  border: none;
  border-radius: 0;
  li a {
    color: $font-white;
  }
  li ul {
    background-color: $bg-black;
  }
  li:hover {
    background-color: $bg-black;
  }
  &.navbar-default {
    background-color: $bg-black;
    border-color: $font-white;
  }
  #H_Search {
    display: inline !important;
    max-width: 200px;
    float: right;
    margin-right: 0.5em;
    margin-top: 7px;
  }
  #myNavbar .form-group {
    margin-bottom: 0;
  }
}

.sidenav {
  width: 100%;
}

.sidenav-item {
  border: 1px solid white;
  padding: 6px 5px 6px 18px;
  transition: 0.3s;
  font-weight: bold;
}

.sidenav-item a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  color: #666;
  transition: all 0.5s;
}

.sidenav-item:hover {
  text-decoration: none;
  background-color: #ded3c0;
  color: #000;
  transition: width 1s;
}

@media screen and (min-width: 768px) {
  .sidenav {
    width: 25%;
  }
}
