$primary: #214732;
$secondary: #078877;
$danger: #72312b;
$warning: orange;

$font-white: #fff;
$font-gray: #7f8080;
$bg-green: #225a3f;
$bg-black: #222;
$bg-gray: #f5f7f9;
$bg-tan: #ded3c0;
$bg-light-grey: #f8f8f8;
$bg-light-yellow: #f3f2eb;


$default-font-size: 1rem;
$default-font-family: Roboto,
Arial,
sans-serif;

$hero-container-height: 500px;

$theme-colors: ("primary": $primary,
  "secondary": $secondary,
  "danger": $danger);