#skip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none;

    li {
        list-style-type: none
    }

    a {
        position: absolute;
        left: -99999px;
        top: 30px;
    }

    a:focus,
    a:active {
        position: relative;
        left: 0;
        z-index: 9999;
        width: 75%;
        height: auto;
        margin: 0 auto;
        padding: 30px 45px;
        text-align: center;
        text-decoration: none;
        letter-spacing: -4px !important;
        font: bold 50px "Arial", "Freesans", sans-serif !important;
        /* color information, edit this to suit the colors of your layout */
        color: $primary;
        background-color: #fff;
        border: 1px dotted $secondary;
    }
}