<!doctype html>
<html lang="en">
<!-- TODOS: Bryan: Gutters for cards, Resize Images, Footer seperators, Add Facebook to Contact [Box, Page] -->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <meta charset="utf-8">
    <title>Computers & Software | CSM Bulldog Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="Description" content="">
    <meta name="KeyWord" content="">
    <meta name="title" content="">
    <meta name="Description" content="">
    <meta name="KeyWord" content="">
    <link href="http://insitestore2.mbsbooks.com/RWD-CSS/bootstrap.css" rel="stylesheet">
    <link href="http://insitestore2.mbsbooks.com/RWD-CSS/MasterCSS.css" rel="stylesheet">
    <link href="http://insitestore2.mbsbooks.com/RWD-CSS/font-awesome.css" rel="stylesheet">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://insitestore2.mbsbooks.com/RWD-JS/bootstrap.js"></script>
    <script src="http://insitestore2.mbsbooks.com/RWD-JS/Confirm.js"></script>
    <script src="http://insitestore2.mbsbooks.com/RWD-JS/MasterJS.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="icon">
    <noscript style="width:800px; background-color:#ffffff; FONT-WEIGHT:bold; FONT-SIZE:12pt; COLOR:red">
        It appears that your browser does not support JavaScript, or you have it disabled. This site is best viewed with
        JavaScript enabled.
        If JavaScript or cookies are disabled in your browser, please enable them and then reload this page.
        <a ID="NeedsJava" href="/skylinesandbox/help/JSHelp.htm" Target="_blank" Text="Click here for instructions." />
    </noscript>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css%>">
</head>

<body>
    <header>
        <!-- ¯\_(ツ)_/¯ -->
    </header>
    <a href="#contentSection" tabindex="0" class="hidden_label">Skip to main content</a>
    <p class="hiddenForm" hidden="hidden"></p>
    <div class="reloadPage" hidden="hidden">No</div>
    <nav id="h_nav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                    aria-label="Horizontal Menu Dropdown Button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" tabindex="0">Home</a></li>
                <li><a href="#" tabindex="0">Online Shopping</a></li>
                <li><a href="#" tabindex="0">Bookstore Info</a></li>
                <li><a href="#" tabindex="0">Faculty Resources</a></li>
                <li><a href="#" tabindex="0">Campus Copy & Post</a></li>
            </ul>
            <div id="H_Search" class="max_width300"></div>
        </div>
    </nav>
    <main id="page_wrapper">
        <section class="site-section-title">
            <div class="container ">
                <h1>Merchandise</h1>
            </div>
        </section>
        <section>
            <div class="container mv5">
                <div class="row">
                    <div class="col-xs-12 col-md-3" id="can-sidenav">

                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="row d-flex">
                            <div class="col-md-4 col-xs-12">
                                <div class="merchandise-card">
                                    <div class="text-center pv4">
                                        <div class="info mb3">
                                            Find <span style="color:green">College Apperal</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary" tabindex="0">Check Apperal</a>
                                    </div>
                                    <div class="mt-auto ">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/apparel.jpg"
                                            class="img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="merchandise-card">
                                    <div class="text-center pv4">
                                        <div class="info mb3">
                                            Find your <br /><span style="color:green">Computer and Software</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary" tabindex="0">Find Textbook</a>
                                    </div>
                                    <div class="mt-auto ">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/computers-software.jpg"
                                            class="img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="merchandise-card">
                                    <div class="text-center pv4">
                                        <div class="info mb3">
                                            Find <span style="color:green">the Souvenir</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary" tabindex="0">Gift & Accessories</a>
                                    </div>
                                    <div class="mt-auto ">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/gifts-accessories.jpg"
                                            class=" img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="merchandise-card">
                                    <div class="text-center pv4">
                                        <div class="info mb3">
                                            Find <span style="color:green">College Apperal</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary" tabindex="0">Check Apperal</a>
                                    </div>
                                    <div class="mt-auto ">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/apparel.jpg"
                                            class="img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="merchandise-card">
                                    <div class="text-center pv4">
                                        <div class="info mb3">
                                            Find your <br /><span style="color:green">Computer and Software</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary" tabindex="0">Find Textbook</a>
                                    </div>
                                    <div class="mt-auto ">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/computers-software.jpg"
                                            class=" img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="merchandise-card">
                                    <div class="text-center pv4">
                                        <div class="info mb3">
                                            Find <span style="color:green">the Souvenir</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary" tabindex="0">Gift & Accessories</a>
                                    </div>
                                    <div class="mt-auto ">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2249546/gifts-accessories.jpg"
                                            class=" img img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="can-footer">
        <!-- ¯\_(ツ)_/¯ -->
    </footer>
    <div id="div_privacy" class="textc"><a href="/skylinesandbox/Privacy" tabindex="0">Privacy and Disclaimer</a></div>
    <div id="Server">I.2.B </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //ADA fix keeps .ui-dialog from loading twice on the page
            $('.ui-dialog').each(function (e) {
                if (e != 0) {
                    $(this).remove();
                }
            });
        });
    </script>
    <script type="text/javascript">
        //allowing maintain scroll position on postbacks for mvc
        $(document).scroll(function () {
            localStorage['ControllerPageName'] = document.URL;
            localStorage['MaintainScrollPosition'] = $(document).scrollTop();
        });
        $(document).ready(function () {
            if (localStorage['ControllerPageName'] == document.URL) {
                $(document).scrollTop(localStorage['MaintainScrollPosition']);
            }
        });
    </script>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>